@model List<WebApplication1.Models.Order>
@{
    ViewBag.Title = "訂單首頁";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
@using (Html.BeginForm("SearchOrder", "Order"))
{ 
            <table class="table">
                <tr>
                    <td>訂單編號</td><td><input type="text" name="OrderId" id="OrderId"/></td>
                    <td>客戶名稱</td><td><input type="text" name="CustId" id="CustId"/></td>

                    <td><input type="submit" value="查詢" class="btn btn-primary" /></td>
                </tr>
            </table>

 }
            <table class="table">
            <tr>
                <td>訂單編號</td>
                <td>客戶名稱</td>
                <td>訂購日期</td>
                <td>發貨日期</td>
                <td></td>
                <td></td>
            </tr>
          
           @foreach (var aa in Model)
           {
            <tr>
                <td>@aa.OrderId</td>
                <td>@aa.CustName</td>
                <td>@aa.Orderdate.ToString("yyyy-MM-dd")</td>
                <td>@aa.ShippedDate.ToString("yyyy-MM-dd")</td>
                <td>@Html.ActionLink("修改", "UpdateOrder", new { id = aa.OrderId })</td>
                <td>@Html.ActionLink("刪除", "DeleteOrder", new { id = aa.OrderId })</td>
            </tr>
           }
        </table>
    </div>
</body>
</html>
