@model List<WebApplication1.Models.Order>

@{
    ViewBag.Title = "SearchOrder";
}

<h2>查詢結果</h2>
<table class="table">
    <tr>
        <td>訂單編號</td>
        <td>客戶名稱</td>
        <td>訂購日期</td>
        <td>發貨日期</td>
        <td></td>
        <td></td>
    </tr>

    @foreach (var aa in Model)
    {
        <tr>
            <td>@aa.OrderId</td>
            <td>@aa.CustName</td>
            <td>@aa.Orderdate</td>
            <td>@aa.ShippedDate</td>
            <td>@Html.ActionLink("修改", "EditOrder", new { id = aa.OrderId })</td>
            <td>@Html.ActionLink("刪除", "DeleteOrder", new { id = aa.OrderId })</td>

        </tr>
    }
</table>

<p>
    @Html.ActionLink("回首頁", "Index")
</p>
